

.card{
    border-width: 1px;
    padding: 20px;
    border-style: solid;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bouton {
    max-width: 90px;
}

.oneForm{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.selectBox {
    width: 100%;
}


label{
    min-width: 100px;
}