.cardModal{
    border-width: 1px;
    padding: 20px;
    border-style: solid;
    min-width: 500px;
    max-width: 1000px;
    background-color: aliceblue;
    
}

.bodyCard {
    background-color: rgba(0, 0, 0, 0.7); /* Couleur semi-transparente noire */
    position: fixed; /* Position fixe pour couvrir toute la page */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* Utilisé pour centrer le modal */
    justify-content: center;
    align-items: center;
    opacity: 1;
}


.header{
    display: flex;
    justify-content: end;   
}